body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #136;
  color: #196;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  padding: 25px;
}

header h1 {
  margin: 0;
  text-align: center;
}

header nav {
  display: flex;
}

header nav a {
  color: #999;
  margin-left: 30px;
  text-decoration: none;
  font-size: 25px;
}

.container {
  max-width: 540px;
  margin:350px auto;
  display: flex;
  flex-wrap: wrap;
}

.card:hover {
  transition-duration: 0.4s;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin: 20px;
  flex-basis: calc(33.33% - 40px);
  padding: 30px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.card h2 {
  margin: 0 0 20px 0;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.card p {
  margin-top: 20px;
  text-align: left;
}

.image-id {
  position: relative;
  float: right;
  bottom: 350px;
  right: 106px;
  width: 400px;
  height: 300px;
}

@media only screen and (max-width: 480px) {
  img {
    display: inline-block;
    width: 100%;
  }
}

img {
  width: 100%;
}

.list {
  padding: 0.5px;
  margin: 20px;
  background-color: #196;
  border-radius: 10px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px;
  text-align: center;
}

.modal-close {
  background-color: grey;
  color: black;
  border: 2px solid #555555;
  padding: 10px 12px;
  text-align: center;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
